<div class="container" >
    <md-card>
        <div style="background:url('notes/static/img/life.jpg');height:75px;"></div>
        <div class="row">
            <div class="col-sm-12" >
                <div class="md-whiteframe-z2">
                     <md-tabs style="background-color: #333333;">
                        <md-tab><a ui-sref="define" style="color:#ffffff;text-decoration: none">Tasks</a></md-tab>
                        <md-tab><a ui-sref="collect" style="color:#ffffff;text-decoration: none">Track</a></md-tab>
                        <md-tab><a ui-sref="report" style="color:#ffffff;text-decoration: none">Review</a></md-tab>
                         <md-tab><a ui-sref="logout" style="color:#ffffff;text-decoration: none">Logout</a></md-tab>
                    </md-tabs>
                </div>
            </div>
        </div>
    </md-card>
</div>