<!DOCTYPE html>
<html>
<head>
    <title>NotingDown</title>
        <link rel="favicon icon" type="image/x-icon" href="favicon.ico" />
    	<link rel="stylesheet" href="notes/static/css/angular-material.min.css">
		<link rel="stylesheet" href="notes/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="notes/static/css/main.css">
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <script src="notes/static/js/angular.min.js"></script>
        <script src="notes/static/js/jquery.min.js"></script>
        <!-- Angular Material Dependencies -->
		<script src="notes/static/js/angular-route.js"></script>
		<script src="notes/static/js/app.js"></script>
        <script src="notes/static/js/services.js"></script>
		<script src="notes/static/js/controllers.js"></script>
</head>
<body ng-app="notesapp" ui-view style="background-color: #eeeeee">
<script src="notes/static/js/angular-animate.min.js"></script>
<script src="notes/static/js/angular-aria.min.js"></script>
<script src="notes/static/js/angular-material.min.js"></script>
<script src="notes/static/js/angular-material-icons.min.js"></script>
<script src="notes/static/js/angular-messages.js"></script>
<script src="notes/static/js/angular-ui-router.min.js"></script>
</body>
</html>